body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 0.9em;
}

/* Header Navigation */
nav {
  margin: 0 0 1em 0;
  padding: 0.5em 1em;
  background-color: #eee;
  border-radius: .5em;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0;
  padding: 0.5em;
  list-style: none;
  flex-grow: 0;
}

nav ul li a {
	padding: 0.5em;
  text-decoration: none;
	border-radius: 0.5em;
}

nav ul li a:link {
  color: #000;
}

nav ul li a:visited {
  color: #000;
}

nav ul li a:hover {
  color: #000;
	background-color: #eee;
}


/** Main Content Area **/
main {
  margin: 2em 2em 2em 2em;
  padding: 1.5em;
  background-color: #fff;
  box-shadow: 0 0 1em rgba(0,0,0,0.8);
  border-radius: 1em;
}

h1 {
  margin: 0;
  padding: 0 0 1em 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #eee;
}

/*** Reporting Image ***/

.reportchart {
  width: 300px;
}

article#report {
  display: flex;
}

section#details {
  flex-grow: 1;
  padding: 0 2em;
}

article#report section h3 {
  padding: 0 0 0 0;
  margin: 0;
}

article#report table {
  padding: 0 0 0 0;
  margin: 0 0 1em 0;
  width: 100%;
  border-collapse: collapse;
}



#project {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #ffc66f;
  background-image: radial-gradient(#ffc66f 55%, #ff7400);
  border-radius:180px;
  border-color: #fff;
  border-width: 10px;
  border-style: solid;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}


#student {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #0054ff;
  background-image: radial-gradient(#02c8ff 15%, #0054ff 150%);
  border-radius:150px;
  border-color: #fff;
  border-width: 8px;
  border-style: solid;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  z-index:10;
}


#student p {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
}

#project_skills {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  z-index:12;
}

.project_skill {
  position: absolute;  
  margin: 0 0;
  padding: 0.5em 1em;
  width: 110px;
  transform-origin: 0 50%;
  background-color: #002467;
  background-image: linear-gradient(90deg, #007dff, #002467);
  text-align: right;
  font-size: 11px;
  color: #fff;
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 1em;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}


.skill-details {
  position: absolute;
  left: 100%;
  background-color: #ccc;
  width: 200px;
  height: 300px;
  display: none;
}

.project_skill:hover .skill-details {
  display: block;
}

#project_assessment {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  z-index:8;
}

.project_standard {
  margin: 2px 0;
  padding: 0.5em 1em;
  width: 110px;
  transform-origin: 100% 50%;
  background-image: linear-gradient(-90deg, #ff8e7e, #841a00);
  text-align: left;
  font-size: 11px;
  color: #fff;
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 1em;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

/**.project_standard {
  transform: rotate(20deg);
}
**/

