{% extends "index.html" %}
{% block content %}
      <article id="report">
      <!--<img src="/static/images/StudentLed.png" class="reportchart">-->


				<section id="project">
            <div id="student" title="{{ student[1] }}">
              <p>{{ student[1] }}</p>
          
            </div>
            
            <div id="project_assessment">
              {% for standard in standards %}
                <div class="project_standard" id="assessment_{{loop.index}}" title="{{ standard.StandardTitle }}">{{ standard.StandardID }} ({{ standard.AssessedLevel }})</div>
	            {% endfor %}
            </div>

            <div id="project_skills">
            {% set angle = -40 %}
              {% for skill in skills %}
                <div class="project_skill" id="skill_{{loop.index}}" title="{{ skill.SkillTitle }}" style="transform: rotate({{ angle }}deg)">{{ skill.SkillWorkshop }}{{ angle}}
                  <div class="skill-details">Some story here</div>
                </div>
                {% set angle = angle+20 %}
                
	            {% endfor %}
            </div>
				</section>

        <section id="details">

          <h3>Projects</h3>
          <table>
          {% for project in projects %}
          <tr>
            <td>{{ project.ProjectTitle }}</td>
          </tr>
	      {% endfor %}
        </table>



          <h3>Standards</h3>
          <table>
          {% for standard in standards %}
          <tr>
            <td>{{ standard.StandardID }}</td>
            <td>{{ standard.StandardTitle }}</td>
            <td>{{ standard.AssessedLevel }}</td>
          </tr>
	      {% endfor %}
        </table>

        <h3>Skills</h3>
          <table>
        {% for skill in skills %}
          <tr>
            <td>{{ skill.SkillTitle }}</td>
            <td>{{ skill.SkillWorkshop }}</td>
          </tr>
	      {% endfor %}
        </table>

        <h3>Wellbeing</h3>
      </section>

			</article>
{% endblock %}
