{% extends "index.html" %}
{% block content %}
      <article>
			<h2>This is a report for: {{ student[1] }}</h2>
      <img src="/static/images/StudentLed.png" class="reportchart">
      
      <section id="standards">
        {% for standard in standards %}
          <div class="standard">
            {{ standard.AssessedLevel }}
            <ul class="details">
               <li>{{ standard.StandardID }}: {{ standard.StandardTitle }}</li>
            </ul>
          </div>
	      {% endfor %}
      </section>


				<section id="project">
            <div id="student" title="{{ student[1] }}">
              <p>{{ student[1] }}</p>
            </div>

        <div id="skills">
          <svg class="wedge">

            <g id="wedge3">
              <path d="M115,115 L115,5 A110,110 1 0,1 220,120 z" fill="#007dff""></path>
            </g>

<!--
            <g id="wedge1">
              <path d="M115,115 L115,15 A110,110 1 0,1 190,35 z" fill="#007dff""></path>
            </g>


            <g id="wedge2">            
              <path d="M125,125 L125,5 A120,120 1 0,1 190,35 z" fill="#bb7dff"></path>
            </g>
-->

          </svg>

        </div>
        

<!-- 
From: https://stackoverflow.com/questions/21205652/how-to-draw-a-circle-sector-in-css

M115,115: start arc at centre
L115,5: vertical line from the center of the circle up to the top of the element
A110,110 1 0,1 190,35 z: To accomplish a "slice" of a different size, merely change the 190,35

If you want to determine the x and y coordinates from an angle, you can use the following equations:

x = cx + r * cos(a)
y = cy + r * sin(a)
With the above example, a degree of 76 would be:

x = 115 + 110 * cos(45)
y = 115 + 110 * sin(45)

205.676,177.272



-->
          </div>


				</section>
			</article>
{% endblock %}
