{% extends "index.html" %}
{% block content %}

{{ form.first_name.label() }}{{ form.first_name() }}

<!--
      <table id="students">
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Attendance</th>
        </tr>
        {% for student in students %}
        <tr>
          <td>{{ student.id }}</td>
          <td><a href="{{url_for("student_edit", id=student.id)}}">{{ student.firstname }}</a></td>
          <td>{{ student.lastname }}</td>
          <td><div class="slideThree">{{ form.roll() }}{{ form.roll.label() }}</div></td>
        </tr>
        {% endfor %}
      </table>
-->
{% endblock %}
